:root {
  --main-body-color: #f8ede3;
  --nav-footer-color: #d0b8a8;
  --hover-color: #85586f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--main-body-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
}

#nav-bar {
  border-bottom: 2px solid black;
  font-size: 1.7rem;
  font-weight: bolder;
  background-color: var(--nav-footer-color);
  position: fixed;
  width: 100%;
  padding: 20px 40px 20px 40px;
  top: 0;
}

.main-nav {
  display: flex;
  gap: 3%;
  position: relative;
  top: 0;
}

#nav-bar .main-nav {
  list-style: none;
}

.main-nav .nav-link {
  text-decoration: none;
  color: var(--hover-color);
  text-align: center;
}

#nav-bar .main-nav .nav-link,
.wrapper div ul li {
  list-style: none;
}

#brand-name {
  margin-right: auto;
}

a:hover,
.nav-link:hover {
  color: var(--hover-color);
}

main {
  width: 70%;
  margin: 60px auto 60px auto;
}

#form {
  margin: 40px;
  display: grid;
}

#form .sign-up {
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

#form #submit {
  margin: 0 auto;
  background-color: var(--hover-color);
  color: #fff;
  font-weight: bold;
  letter-spacing: 4px;
}

#form #submit:hover,
button:hover {
  cursor: pointer;
}

#email,
#submit {
  margin: 0 auto 5px;
  height: 30px;
  width: 30%;
  text-align: center;
}

.container {
  margin-bottom: 30px;
}

.fa-leanpub,
.fa-display,
.fa-address-book {
  float: left;
  margin-right: 40px;
  margin-bottom: 30px;
}

.about-section,
.product-section,
.contact-section {
  margin-bottom: 40px;
}

/* come back to style the video */
iframe {
  display: block;
}

#video {
  max-width: 100%;
  /* height: auto; */
  margin: 20px auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  padding: 20px 10px;
}

.wrapper div {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #000000;
  text-align: center;
}

.wrapper div h3 {
  background-color: var(--hover-color);
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  line-height: 2;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.wrapper button {
  background-color: aqua;
  height: 30px;
  width: 50%;
  margin: 40px;
  text-transform: uppercase;
  background-color: var(--hover-color);
  color: #fff;
  font-weight: bold;
  line-height: 1.8;
}

footer {
  background-color: var(--nav-footer-color);
  height: 50px;
  text-align: center;
  padding: 10px;
  border-top: 2px solid black;
}

a {
  text-decoration: none;
}

footer a:hover {
  color: var(--main-body-color);
}

@media (max-width: 906px) {
  #header {
    height: 100px;
  }
  #nav-bar {
    position: fixed;
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
  }

  .main-nav {
    display: grid;
    text-align: center;
  }

  #brand-name {
    visibility: hidden;
  }

  #email,
  #submit {
    height: 30px;
    width: 70%;
  }
}
