:root {
  --main-body-color: #f8ede3;
  --nav-footer-color: #d0b8a8;
  --hover-color: #85586f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--main-body-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
}

#nav-bar {
  border-bottom: 2px solid black;
  font-size: 1.7rem;
  font-weight: bolder;
  background-color: var(--nav-footer-color);
  position: fixed;
  width: 100%;
  padding: 20px 40px 20px 40px;
  top: 0;
}

.main-nav {
  display: flex;
  gap: 3%;
  /* margin: 10px; */
  position: relative;
  /* padding: 20px; */
  top: 0;
}

#nav-bar .main-nav {
  list-style: none;
}

.main-nav .nav-link {
  text-decoration: none;
  color: var(--hover-color);
  text-align: center;
}

#nav-bar .main-nav .nav-link {
  list-style: none;
}

#brand-name {
  margin-right: auto;
}

a:hover,
.nav-link:hover {
  color: var(--hover-color);
}

main {
  width: 70%;
  margin: 60px auto 60px auto;
}

#form {
  margin: 40px;
  display: grid;
}

#form .sign-up {
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

#form #email {
  text-align: center;
}

#form #submit {
  margin: 0 auto;
  background-color: var(--hover-color);
  color: #fff;
  font-weight: bold;
  letter-spacing: 4px;
}

#form #submit:hover {
  cursor: pointer;
}

#email,
#submit {
  margin: 0 auto 5px;
  /* margin-top: 10px; */
  height: 30px;
  width: 30%;
}

footer {
  /* background-color: var(--nav-footer-color); */
  /* height: 100%; */
}
